<div class="row">
    
    <ng-include src="'templates/left_side_.html'"></ng-include>
    
    <div class="col-xs-8 _splr30 right-side">

        <div class="panel panel-bordered">
            <div class="panel-heading">
                <b><i class="{{isList ? 'icon-fi-file-o' : 'icon-fi-time'}}"></i> {{isList ? topic.title : captions.last + ' ' + captions.entries | ucfirst}}:</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 nopaddingL">
                        <div class="_5plFs">
                            <form ng-submit="searcEntryForm(searchInputx)" id="searchTopicForm">
                                <input type="text" name="search" ng-model="searchEntryInputx" class="form-control" placeholder="{{captions.search | ucfirst}}" autocomplete="off" />
                                <button type="submit"><i class="icon-fi-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 nopaddingR">
                        <ul class="list-inline">
                            <li><a href="#/add/{{isList?topic.title:'' | escape}}" class="pr-btn pr-btn-flat2 btn-with-icon-l"><i class="icon-fi-plus-circle"></i> {{captions.addText}}</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="_5prEntriesList">
                    <ul class="_5lBp">
                        <li class="_5prEntriesList-item _5cItem" ng-repeat="lEntry in entries | filter: searchEntryInputx | orderBy:'-lastModified'" m-repeat-directive>
                            <div class="row _5cParent" data-item-id="{{lEntry.id}}">
                                <div class="_5cChild">
                                    <div class="_5prEntriesList-item-options">
                                        <ul class="list-inline">
                                            <li><a href="#/edit/{{lEntry.id}}" class="_5cChild-item-edit" data-title="{{captions.edit}}"><i class="icon-fi-pencil-square-o"></i></a></li>
                                            <li><a class="_5cChild-item-remove" data-title="{{captions.remove}}" ng-click="removeItem($event, lEntry.id)"><i class="icon-fi-times"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="_5prEntriesList-item-topic"><span ng-if="lEntry.inReplyTo" class="inReplyTo ns-underline" data-replyto-id="{{lEntry.inReplyTo}}"><b>@{{lEntry.inReplyToName}}</b></span> <span ng-if="!isList">{{captions.in}} <b><a href="#/list/{{lEntry.topic}}/entryId/{{lEntry.id}}" class="ns-underline">{{lEntry.topic}}</a></b></span></div>
                                    <div class="_5prEntriesList-item-text"><p style="white-space: pre-wrap;">{{lEntry.text}}</p></div>
                                    <div class="row _5prEntriesList-item-bottom">
                                        <div class="_5prEntriesList-item-info col-xs-6"><ul class="list-inline"><li><i class="icon-fi-user" data-title="{{captions.user}}"></i> {{lEntry.lastModifiedBy}}</li> <li><i class="icon-fi-calendar" data-title="{{captions.date}}"></i> {{lEntry.lastModified | date:'HH:mm dd-MM-yyyy'}}</li> <li ng-show="lEntry.replies"><i class="icon-fi-comment-o" data-title="{{captions.replies}}"></i> {{lEntry.replies.length}}</li></ul></div>
                                        <div class="_5prEntriesList-item-actions col-xs-6 pull-right text-right"><ul class="list-inline"><li ng-show="lEntry.replies"><a class="item-actions-conversationDown" data-title="{{captions.conversationDown}}" ng-click="loadConversationDown($event, lEntry.id, lEntry)"><i class="icon-fi-comment-down"></i></a></li><li ng-show="lEntry.inReplyTo"><a class="item-actions-conversationUp" data-title="{{captions.conversationUp}}" ng-click="loadConversationUp($event, lEntry.id, lEntry)"><i class="icon-fi-comment-up"></i></a></li><li style="padding-right:0"><a ng-click="replyBtn($event, lEntry.id, lEntry.topic, lEntry.lastModifiedBy)" class="btn btn-warning btn-sm _5prEntriesList-item-replyBtn">{{captions.reply | ucfirst}}</a></li></ul></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
</div>
<a href="#" class="scrollUpDownBtn"><i class="icon-fi-arrow-circle-up"></i> {{captions.backToTop | ucfirst}}</a>