    <div class="col-xs-4 _splr30 left-side">

        <div class="panel panel-bordered" ng-init="sortTopicsBy = '-lastModified'; sortTopicsB2 = true;">
            <div class="panel-heading">
                <b><i class="icon-fi-folder"></i> {{captions.topics}}:</b>
            </div>
            <div class="panel-body">
                <div class="_5plFs">
                    <form ng-submit="searchTopicForm(searchTopicInputx)" id="searchTopicForm">
                        <input type="text" name="search" ng-model="searchTopicInputx" class="form-control" placeholder="{{captions.search | ucfirst}}" autocomplete="off" />
                        <button type="submit"><i class="icon-fi-search"></i></button>
                    </form>
                </div>
                <div class="_5plST">
                    <ul class="list-inline">
                        <li>{{captions.sortBy | ucfirst}}:</li><li><a ng-click="sortTopicsBy = '-title'; sortTopicsReverse=!sortTopicsReverse; sortTopicsB3 = false; sortTopicsB2 = false; sortTopicsB1 = true" ng-class="{'selected': sortTopicsB1}"><i class="icon-fi-arrow-down" ng-class="{'icon-fi-arrow-up': sortTopicsB1 && sortTopicsReverse}"></i> {{captions.name}}</a></li>
                        <li><a ng-click="sortTopicsBy = '-lastModified'; sortTopicsReverse=!sortTopicsReverse; sortTopicsB3 = false; sortTopicsB1 = false; sortTopicsB2 = true" ng-class="{'selected': sortTopicsB2}"><i class="icon-fi-arrow-down" ng-class="{'icon-fi-arrow-up': sortTopicsB2 && sortTopicsReverse}"></i> {{captions.date}}</a></li>
                        <li><a ng-click="sortTopicsBy = '-size'; sortTopicsReverse=!sortTopicsReverse; sortTopicsB1 = false; sortTopicsB2 = false; sortTopicsB3 = true" ng-class="{'selected': sortTopicsB3}"><i class="icon-fi-arrow-down" ng-class="{'icon-fi-arrow-up': sortTopicsB3 && sortTopicsReverse}"></i> {{captions.size}}</a></li>
                    </ul>
                </div>
                <hr>
                <div class="_5plTopicsList">
                    <ul>
                        <li class="_5plTopicsList-item _5cItem _5cItem-with-link" ng-repeat="lTopic in topics | filter: searchTopicInputx | orderBy:sortTopicsBy:sortTopicsReverse">
                            <a href="#/list/{{lTopic.title | escape}}">
                                <div class="row">
                                    <div class="col-xs-2 padding05">
                                        <div class="_5plTopicsList-item-thumb">
                                            <img src="./images/icons/folder.png">
                                        </div>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="_5plTopicsList-item-title">{{lTopic.title}}</div>
                                        <div class="_5plTopicsList-item-text"><p style="white-space: pre-wrap;">{{lTopic.lastEntryText}}</p></div>
                                        <div class="_5plTopicsList-item-info"><ul class="list-inline"><li><i class="icon-fi-user" data-title="{{captions.user}}"></i> {{lTopic.lastModifiedByName}}</li> <li><i class="icon-fi-calendar" data-title="{{captions.date}}"></i> {{lTopic.lastModified | date:'HH:mm dd-MM-yyyy'}}</li><li><i class="icon-fi-infinite" data-title="{{captions.size}}"></i> {{lTopic.size}}</li></ul></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
