@import url(../bower_components/font-awesome/css/font-awesome.min.css);
@import url(../assets/fonts/bsm-icons/bsmicons.css);

/*
	==============================
          * Custom Styles *
	==============================
*/
body {
    font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
    word-break: break-word;
}

a,
a:hover,
a:focus,
a:active{
    text-decoration: none;
}

.ns-underline:hover,
.ns-underline:active{
    text-decoration: underline;
    cursor: pointer;
}

img {
    max-width: 100%;
}

form {
    margin: 0;
}

input[type=checkbox],input[type=radio] {
    display: none;
}

input[type=checkbox]+label,input[type=radio]+label {
    display: inline-block;
    min-height: 20px;
    font-weight: 400;
    cursor: pointer;
    padding-left: 26px;
    margin: 0;
    font-size: 14px;
    background-image: url(../images/icons/sprite-forms.png);
    background-repeat: no-repeat;
    background-position: 0 -1px;
}

input[type=radio]+label {
    background-position: 0 -99px;
}

input[type=checkbox]+label:hover {
    background-position: 0 -20px;
}

input[type=radio]+label:hover {
    background-position: 0 -119px;
}

input[type=checkbox]:checked+label {
    background-position: 0 -39px;
}

input[type=radio]:checked+label {
    background-position: 0 -139px;
}

input[type=checkbox][disabled]+label {
    background-position: 0 -58px;
    color: #888;
    cursor: default;
}

input[type=radio][disabled]+label {
    background-position: 0 -159px;
    color: #353535;
    cursor: default;
}

input[type=checkbox][disabled]:checked+label {
    background-position: 0 -78px;
    color: #353535;
    cursor: default;
}

input[type=radio][disabled]:checked+label {
    background-position: 0 -180px;
    color: #353535;
    cursor: default;
}

input{
    word-break: normal;
}

textarea {
    overflow: auto;
    vertical-align: top;
    max-width: 100%;
}

textarea._4aS{
    resize: none;
}

select:focus, 
input:focus,
textarea:focus,
.btn:focus{
    outline: none;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.1);
       -moz-box-shadow: 0 0 7px rgba(0,0,0,0.1);
            box-shadow: 0 0 7px rgba(0,0,0,0.1);
}

p {
    font-size: 14px;
    line-height: 20px;
}

b {
    font-weight: bold;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid{
    *min-width: 960px;
    padding: 0;
}

@media (max-width: 922px) {
    body {
        min-width:922px;
    }
}

kbd {
    display: block;
    padding: 5px 10px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

blockquote {
    margin-bottom: 0px;
}

.form-control {
    padding: 6px 8px;
}

.mb0 {
    margin-bottom: 0 !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mr0 {
    margin-right: 0 !important;
}
.ml0 {
    margin-left: 0 !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mr5 {
    margin-right: 5px !important;
}
.ml5 {
    margin-left: 5px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.mr15 {
    margin-right: 15px !important;
}
.ml15 {
    margin-left: 15px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mr30 {
    margin-right: 30px !important;
}
.ml30 {
    margin-left: 30px !important;
}
.mb40 {
    margin-bottom: 40px !important;
}
.mt40 {
    margin-top: 40px !important;
}
.mr40 {
    margin-right: 40px !important;
}
.ml40 {
    margin-left: 40px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mr50 {
    margin-right: 50px !important;
}
.ml50 {
    margin-left: 50px !important;
}
.pl0 {
    padding-left: 0px !important;
}
.pr0 {
    padding-right: 0px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pt30 {
    padding-top: 30px !important;
}
.pb30 {
    padding-bottom: 30px !important;
}
.pr30 {
    padding-right: 30px !important;
}
.pl30 {
    padding-left: 30px !important;
}
.pt40 {
    padding-top: 40px !important;
}
.pb40 {
    padding-bottom: 40px !important;
}
.pr40 {
    padding-right: 40px !important;
}
.pl40 {
    padding-left: 40px !important;
}
.pt50 {
    padding-top: 50px !important;
}
.pb50 {
    padding-bottom: 50px !important;
}
.pt100 {
    padding-top: 100px !important;
}
.pb100 {
    padding-bottom: 100px !important;
}
.pr50 {
    padding-right: 50px !important;
}
.pl50 {
    padding-left: 50px !important;
}

.panel {
    position: relative;
    display: block;
    height: 100%;
    background-color: #FFF;
    padding: 20px;
    border: 0;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
            box-shadow: 0 1px 0 rgba(0,0,0,.05);
    border-radius: 4px;
}

.panel.panel-bordered {
    border: 1px solid #e6e6e6;
}

.panel .panel-heading {
    padding: 0;
    border-bottom: 1px solid #eee;
    font-size: 17px;
    padding-bottom: 15px;
    border-radius: 0;
}

.panel.panel-heading-only .panel-heading {
    border-bottom: 0;
    padding-bottom: 0;
}

.panel .panel-body {
    padding: 0;
    padding-top: 20px;
}

.panel.panel-body-only .panel-body {
    padding-top: 10px;
}

.panel[class*="panel-type-"] {
    color: #fff;
}

.panel.panel-type-inverted,
.panel.panel-title-styled.panel-type-inverted .panel-heading{
    background-color: #2c2e2f;
}

.panel.panel-type-primary,
.panel.panel-title-styled.panel-type-primary .panel-heading {
    background-color: #2092ef;
}

.panel.panel-type-success,
.panel.panel-title-styled.panel-type-success .panel-heading {
    background-color: #4cae4c;
}

.panel.panel-type-danger,
.panel.panel-title-styled.panel-type-danger .panel-heading {
    background-color: #e74c3c;
}

.panel.panel-type-warning,
.panel.panel-title-styled.panel-type-warning .panel-heading {
    background-color: #e67e22;
}

.panel.panel-type-info,
.panel.panel-title-styled.panel-type-info .panel-heading {
    background-color: #40bbea;
}

.panel.panel-type-flat,
.panel.panel-title-styled.panel-type-flat .panel-heading {
    background-color: #26bcb5;
}
.panel.panel-type-flat2,
.panel.panel-title-styled.panel-type-flat2 .panel-heading {
    background-color: #ee836e;
}

.panel.panel-title-styled[class*="panel-type-"] {
    padding-top: 0;
    padding-left:0;
    padding-right: 0;
    background-color: #fff;
    color: inherit;
}

.panel.panel-title-styled[class*="panel-type-"] .panel-heading {
    padding-top: 15px;
    color: #fff;
    border-bottom: 0;
}

.panel.panel-title-styled[class*="panel-type-"] .panel-heading,
.panel.panel-title-styled[class*="panel-type-"] .panel-body {
    padding-left: 30px;
    padding-right: 30px;
}

.panel.panel-top-bordered {
    border-top: 3px solid #fff;
    background-color: #fff;
    color: inherit;
}

.panel.panel-top-bordered.panel-type-inverted {
    border-top-color: #2c2e2f;
}

.panel.panel-top-bordered.panel-type-primary {
    border-top-color: #2092ef;
}

.panel.panel-top-bordered.panel-type-success {
    border-top-color: #4cae4c;
}

.panel.panel-top-bordered.panel-type-danger {
    border-top-color: #e74c3c;
}

.panel.panel-top-bordered.panel-type-warning {
    border-top-color: #e67e22;
}

.panel.panel-top-bordered.panel-type-info {
    border-top-color: #40bbea;
}

.panel.panel-top-bordered.panel-type-flat2 {
    border-top-color: #ee836e;
}

.panel.panel-no-bg {
    background-color: transparent !important;
}

/*
	==============================
          * Page Code *
	==============================
*/

/* Header */
#header {
    height: 65px;
}

.header-fixed {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: rgba(255,255,255,0.95);
    border-bottom: 1px solid #ddd;
    z-index: 551;
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.13);
}

.header-search .form-group {
    position: relative;
    margin: 0;
}

.header-search .form-group i {
    position: absolute;
    top: 8px;
    left: 14px;
    color: #dbdbdb;
}

.header-search .form-group i.loader {
    display: none;
}

.header-search.loading .form-group i {
    display: none;
}

.header-search.loading .form-group i.loader {
    display: inline-block;
}

.header-search .form-group input {
    height: auto;
    padding: 6px 20px;
    padding-left: 35px;
    border-radius: 18px;
    border-color: #e9e9e9;
    box-shadow: none;
    font-size: 12px;
}

.header-search .form-group input::-webkit-input-placeholder {
    color: #d1d1d1;
}
.header-search .form-group input::-moz-placeholder {
    color: #d1d1d1;
}
.header-search .form-group input:-ms-input-placeholder {
    color: #d1d1d1;
}

.header-search .form-group input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #d0d0d0;
}

.header-menu .btn-custom-3 {
    padding: 6px 20px;
    border-radius: 18px;
    font-size: 12px;
}

/* Content */
/* Left Side */
.content-left-side-sort {
    margin: 0 -20px;
    padding: 5px 25px;
    font-size: 12px;
    background: #f9f9f9;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.content-left-side-sort a {
    cursor: pointer;
}

.topics-item {
    margin: 0 -20px;
    padding: 20px 25px;
    border-bottom: 1px solid #eee;
}

.topics-item:hover {
    background: #f9f9f9;
    cursor: pointer;
}

.topics-item .col-xs-11 {
    width: auto;
    float: none;
    margin-left: 30px;
}

.topics-item .small-text p {
    *font-size: 12px;
}

.topics-item .icon.icon-color-1 {
    color: #eb9173;   
}

/* Right side */
.entry-item {
    position: relative;
}

.content-right-side-list > ul > li.entry-item:last-child {
    margin-bottom: -22px;
    padding-bottom: 35px;
}

.content-right-side-list > ul > li.entry-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 6px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 6px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px -6px rgba(0, 0, 0, 0.2);
}

.entry-item-menu {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
}

/* dirty :O */
.entry-item:hover > .row > .col-xs-11 > .entry-item-menu,
.comment-entry-item:hover > .row > .col-xs-11 > .entry-item-menu{
    display: block;
}

.entry-item .icon {
    max-width: 34px;
}

.entry-item .icon img {
    border-radius: 3px;
}

.entry-item .col-xs-11 {
    width: auto;
    float: none;
    margin-left: 35px;
}

.entry-item .user-name h5 {
    margin-top: 0;
    margin-bottom: 5px;
}

.entry-item .text p,
.comment-entry-item .text p {
    white-space: pre-wrap;
}

.entry-item .documents {
    font-size: 12px;
    margin: 10px 0;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 3px solid #e3e4fc;
}

.documents .post-form-document a.remove_post_link {
    margin-left: 5px;
    cursor: pointer;
    display: none;
}

.documents .post-form-document:hover a.remove_post_link {
    display: inline-block;
}

.entry-item .footer,
.entry-item .footer a {
    font-size: 12px;
    color: #999;
}

.entry-item .footer a:hover {
    color: #444;
    cursor: pointer;
}

.entry-item a.footer-likes:hover,
.entry-item a.footer-likes.active {
    color: #fa6274;
}

.entry-item a.footer-comments:hover {
    color: #0088cc;
}

.entry-comments .comments-previous-button a {
    display: block;
    font-size: 12px;
    padding: 7px 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: #f3f3f3;
}

.entry-comments .comments-previous-button a:hover {
    background-color: #e9e9e9;
}

.comments-previous-button span.loader {
    display: none;
    width: 32px;
    height: 8px;
    margin-top: 4px;
    background: url('../images/icons/loader2.gif') no-repeat center;
}

.comments-previous-button a.loading span.loader {
    display: inline-block;
}

.entry-comments > ul > li {
    margin-bottom: 20px;
    font-size: 12px;
}

.entry-comments > ul > li .user-name h5,
.entry-comments > ul > li .text p {
    font-size: 12px;
}

.entry-comments > ul > li .user-name h5 {
    margin-bottom: 0;
}

.entry-comments > ul > li .text p {
    margin-bottom: 5px;
}

.comments-post-form textarea {
    display: block;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.055);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.055);
}

.form-was-focused textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-was-focused .comment-post-form-helpers {
    display: block;
}

.comments-post-form .documents {
    margin: 0;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.comment-post-form-helpers {
    display: none;
    background: #fbfbfb;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
}

.comment-post-form-helpers button {
    margin-right: -15px;
    border: 0;
    border-radius: 0;
    border-bottom-right-radius: 3px;
    padding: 8px 16px;
    font-size: 12px;
}

.entries-loading-more {
    display: inline-block;
    padding: 6px 50px;
    margin: 50px 0 10px 0;
    background-color: #f9f9f9;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    text-align: center;
    opacity: 0.6;
}

/* Post form */
.inputTopicAdd {
    position: relative;
}

#inputTopic {
    display: inline-block;
    padding-right: 45px;
}

#inputTopic:focus + .inputTopicAdd-drop {
    border-left-color: #66afe9
}

.inputTopicAdd-drop {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    background: transparent;
    padding: 7px 16px;
    color: #777;
    font-size: 13px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 0;
    outline: none;
    border: 0;
    cursor: pointer;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 1px solid #ccc;
}

.inputTopicAdd-drop:hover {
    color: #777;
    background: #f5f5f5;
}

.inputTopicAdd-drop:active {
    box-shadow: inset 0 0 7px rgba(0,0,0,0.08);
}

/*
	==============================
          * Plugins Code *
	==============================
*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
}
.preloader span{
    position: absolute;
    top: 50%;
    left: 50%;
}

.preloader span img{
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}

.scrollUpDownBtn {
    position: fixed;
    bottom: 25px;
    right: 35px;
    z-index: 551;
    text-align: center;
    font-size: 9px;
    color: rgba(0,0,0,0.5);
    display: none;
}

.scrollUpDownBtn:hover {
    color: rgba(0,0,0,0.8);
}

.scrollUpDownBtn i[class^="fa"]{
    display: block;
    font-size: 36px;
}